OPENAI_API_KEY=
CHAT_MODEL=gpt-4o-mini
EMBEDDING_MODEL=text-embedding-3-small

VECTOR_DB_PROVIDER=pinecone

PINECONE_API_KEY=
PINECONE_INDEX_NAME_PDF=bavis-pdf-vectors
PINECONE_REGION=us-east-1

CHROMA_PERSIST_DIRECTORY=chroma_db
CHROMA_COLLECTION_NAME=bavis-pdf-vectors

PDF_DIRECTORY=data
CHUNK_SIZE=1000
CHUNK_OVERLAP=200
EMBED_BATCH_SIZE=50
CLEAR_EXISTING_VECTORS=true
RESET_CHROMA_COLLECTION=true
